<style>
  .grecaptcha-badge {
      visibility: hidden;
  }
</style>
<!-- PARALLAX -->
<section class="parallax parallax-2" id="parallax_corporate_1">
  <div class="overlay dark-5"></div>
  <div class="container text-center">
    <h2 class="font-raleway mb-10">
      <span class="countTo" data-speed="4000">3564</span> clients
    </h2>
    <h3 class="fs-25">They're <span style="color: #C02942;">satisfied</span>. We're <span style="color: #C02942;">happy</span>!</h3>
  </div>
</section>
<!-- /PARALLAX -->
<!-- -->
<section class="pt-30 pb-35">
  <div class="container">
    <div>
      <header class="text-center">
        <h1 class="header">A more personalized experience</h1>
        <p>We put you and your users at the center of everything we do.</p>
      </header>
      <hr />
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <i class="ico-color ico-sm ico-rounded ico-hover et-edit"></i>
          <h3>Contracts</h3>
          <p>Flexible service packages offer maintenance and connectivity options to suit your needs.</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <i class="ico-color ico-sm ico-rounded ico-hover et-chat"></i>
          <h3>Notifications</h3>
          <p>Easily customize your communication preferences to access real-time notifications and simplified, faster reporting.</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <i class="ico-color ico-sm ico-rounded ico-hover far fa-bell"></i>
          <h3>Event alerts</h3>
          <p>Event-driven alerts keep you in the loop on important updates about your building and equipment.</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <i class="ico-color ico-sm ico-rounded ico-hover et-bargraph"></i>
          <h3>Capital planner</h3>
          <p>Personalized recommendations help you avoid surprises, increase product life and plan for the future.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="parallax parallax-2" id="parallax_corporate_2">
  <div class="overlay dark-5"></div>
  <div class="container">
    <div class="text-center">
      <h2 class="fs-40 fw-300">We have clients all over the world!</h2>
      <a class="btn btn-red btn-lg" href="/quotes/new">GET A QUOTE <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <header class="mb-20">
          <h2 class="m-0">Qualified Elevator Repair Experts</h2>
          <p class="font-lato fs-20 m-0">When something breaks in your elevator, rest assured Rocket Elevators will send an expert in a matter of time.</p>
        </header>
        <hr class="m-20" />
        <p class="my-auto">Every day, our teams roll up their sleeves to keep two billion people on the move. We continue to invest in new tools and processes, so our highly trained mechanics and support teams can ensure a faster return to service. It’s all part of our commitment to moving the world more safely, efficiently and reliably.</p>
      </div>
    </div>
  </div>
</section>
<!-- / -->
<!-- BUTTON CALLOUT -->
<%= link_to root_path(anchor: "contact"), 'data-turbolinks': false do %>
  <span class="btn btn-xlg btn-red fs-20 fullwidth m-0 rad-0 p-40">
    <span class="font-lato fs-30">
      Has Rocket Elevators picked your curiosity ? 
      <strong>Contact Us &raquo;</strong>
    </span>
  </span>
<% end %>
<!-- /BUTTON CALLOUT -->
<script>
  plugin_path = '../assets/';
</script>
<a href="#" id="toTop">
  <span class="arrow-top">▲</span>
</a>
