<style>
  .grecaptcha-badge {
      visibility: hidden;
  }
</style>
<!-- -->
<section class="pt-20">
  <div class="container">
    <h2 class="text-center mb-20">Need an elevator at home ? Here's what you'll need !</h2>
    <div class="divider divider-center divider-color mt-0"><!-- divider -->
      <i class="fa fa-chevron-down"></i>
    </div>
    <!-- FEATURED BOXES 3 -->
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-tools"></i>
          <h4>Structure</h4>
          <p class="font-lato fs-20">Your building structure must be conform to our norms, an expert will get in touch with you concerning your habitation.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-dial"></i>
          <h4>Space</h4>
          <p class="font-lato fs-20">You will need at least a 100 squared feet of space for your elevator.</p>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="text-center">
          <i class="ico-color ico-lg ico-rounded ico-hover et-lifesaver"></i>
          <h4>Special Needs</h4>
          <p class="font-lato fs-20">Have any special needs ? Rest assured we will take all of your requests in consideration to ensure you get the best experience.</p>
        </div>
      </div>
    </div>
    <!-- /FEATURED BOXES 3 -->
  </div>
</section>
<!-- / -->
<!--Parallax-->
<section class="parallax parallax-2" id="parallax_residential_1">
  <div class="overlay dark-5"></div>
  <div class="container">
    <div class="text-center">
      <h2 class="fs-40 fw-300">We have clients all over the world!</h2>
      <a class="btn btn-red btn-lg" href="/quotes/new">GET A QUOTE <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</section>
<!--/Parallax-->
<!--Step-->
<section class="p-60">
  <div class="container">
    <header class="text-center">
      <h2 class="m-0">Here's the installation process</h2>
      <p class="font-lato fs-20 m-0">We truly care about our customers, your satisfaction is our number one priority !</p>
    </header>
    <div class="divider divider-center divider-color"><!-- divider -->
      <i class="fa fa-chevron-down"></i>
    </div>
    <ul class="process-steps nav nav-tabs nav-justified mt-50">
      <li class="nav-item">
        <a class="nav-link" href="#step1" data-toggle="tab">1</a>
        <h5>Specifications</h5>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#step2" data-toggle="tab">2</a>
        <h5>Prototyping</h5>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#step3" data-toggle="tab">3</a>
        <h5>Installation</h5>
      </li>
      <li class="nav-item">
        <a class="nav-link active show" href="#step4" data-toggle="tab">4</a>
        <h5>Results</h5>
      </li>
    </ul>
    <div class="tab-content mt-30">
      <div class="tab-pane text-center" id="step1">
        Our team will take your <strong>Specifications</strong> in count and proceed to work with those in mind.  
      </div>
      <div class="tab-pane text-center" id="step2">
        We will first build a <strong>Prototype</strong> of the elevator. If you are not satisfied with the prototype that we came up with, our team will rebuild it again based on your feedback.
      </div>
      <div class="tab-pane text-center" id="step3">
        The <strong>Installation</strong> process is quick and safe, in the event that we damage your property while installing the elevators, all cost will be handled by the Rocket Elevators team.
      </div>
      <div class="tab-pane active show text-center" id="step4">
        The <strong>Result</strong> will be your brand new Rocket's Elevators!
      </div>
    </div>
  </div>
</section>
<!--/Step-->
<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-20 pb-20 clearfix">
  <div class="text-center">
    <h3>Call now at <span><strong>+581-701-0303</strong></span> and get a 15% discount on your next installation !</h3>
    <p class="font-lato fs-20">
      We truly care about our customers and our products.
    </p>
    <%= link_to root_path(anchor: "contact"), 'data-turbolinks': false do %>
      <span class="btn btn-red btn-lg btn-round mt-30">CONTACT US NOW</span>
    <% end %>
  </div>
</div>
<!-- /CALLOUT -->
<script>
  plugin_path = '../assets/';
</script>
<a href="#" id="toTop">
  <span class="arrow-top">▲</span>
</a>
