<div class="row">
  <div class="col-lg-3">
    <label class="text-center">Total Elevators Required</label>
    <input type="text" disabled="true" placeholder="..." class="form-control" id="total_elev">
  </div>
  <div class="col-lg-3">
    <label class="text-center">Elevator Cost</label>
    <input type="text" disabled="true" placeholder="..." class="form-control" id="cost">
  </div>
  <div class="col-lg-3">
    <label class="text-center">Installation Fee</label>
    <input type="text" disabled="true" placeholder="..." class="form-control" id="fees">
  </div>
  <div class="col-lg-3">
    <label class="text-center">Total Cost</label>
    <input type="text" disabled="true" placeholder="..." class="form-control" id="total_cost">
  </div>
</div>
