<% if resource.errors.any? %>
  <div class="alert alert-danger text-center" role="alert">
    <h2>
      Error
    </h2>
    <% resource.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
