<!-- FOOTER -->
<footer id="footer">
  <div class="container mb-10 pt-30">
    <div class="row">
      <!-- col #1 -->
      <div class="col-md-7">
        <h3 class="letter-spacing-1 mb-25">WHY US?</h3>
        <!-- Small Description -->
        <p class="mb-20">
          Our mission is to make you go up. We are number one in the domain, and we supply everyone with the best elevators there are, from your Grandparents to Google. We take good care of all of your requests and we are conscientious to achieve your goals.
        </p>
        <h2 class="mb-0">(581) 701-0303</h2>
      </div>
      <!-- /col #1 -->
      <!-- col #2 -->
      <div class="col-md-5">
        <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>
        <!-- Newsletter Form -->
        <p>Subscribe to Our Newsletter to get Important News & Offers</p>
        <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
            <span class="input-group-btn">
              <button class="btn btn-red btn-red-click" type="submit">Subscribe</button>
            </span>
          </div>
        </form>
        <!-- /Newsletter Form -->
      </div>
      <!-- /col #2 -->
    </div>
  </div>
  <div class="copyright p-10">
    <div class="container">
      <ul class="float-right m-0 list-inline mobile-block">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li>&bull;</li>
        <li><a href="#">Privacy</a></li>
      </ul>
      &copy; All Rights Reserved, RocketElevator LTD
    </div>
  </div>
</footer>
<!-- /FOOTER -->
