$brand-primary: #740012;
$brand-info: #740012;
$link-color: #F28092;
$nav-pills-active-link-hover-bg: #740012;
$btn-primary-bg: #9A1429;
$btn-primary-border: #D34E63;
$btn-info-bg: #740012;
$btn-info-border: #D34E63;
$fg-nav-tabs-active: #740012;