$('.building_selection').empty();
$('.building_selection').append( $('<option>Select the Contact</option>'));
<% @buildings.each do |building| %>
  $('.building_selection').append($('<option value="<%= building.id %>"><%= building.customer_id %></option>'));
<% end %>