<div class="row">
  <div class="col-12"><!--
    <% if current_user.is_admin? %>
      <%= render 'user_greeting' %>
    <% end %>-->
    <%= render 'fact_quote' %>
  </div>
  <div class="col-md-6 m-1">
    <%= render 'fact_contact' %>
  </div>
  <div class="col-md-6 m-1">
    <%= render 'fact_elevator' %>
  </div>
</div>
