@import 'rails_admin/custom/variables.scss';

#map {
  height: 75vh;
}

.address-nav {
  background-color: $brand-primary;
  a {
    color: white;

    &:hover {
      color: #f28092 !important;
    }
  }
}

.map-container {
  background-color: #f5f5f5;
}
